---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Mission from '../components/Mission.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="flex flex-row w-full">
		</div>
	</main>
</Layout>
<body>
</body>
