---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="flex flex-row w-full">
			<div class="h-10 bg-zinc-500 w-2/12">

			</div>
		</div>
	</main>
</Layout>
