---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '@components/Hero.astro'
import Pricing from '@components/Pricing.astro'
import Testimonies from '@components/Testimonies.astro'
import ContactUs from '@components/Contact_Us.astro';
---

<Layout title="Academy and Dallas Golf">
	<Hero></Hero>
	<Pricing></Pricing>
	<Testimonies></Testimonies>
	<main>
		<div class="flex flex-row w-full border">
		</div>
	</main>
</Layout>
