---
import enUs from '@assets/lang/en_us.json';
import Layout from "../layouts/Layout.astro";
import PricingCard from '@components/PricingCard.astro';
import Paginator from '@components/Paginator.astro'

const pricing_img_1 = "/pricing-page-1.png";
const pricing_img_2 = "/pricing-page-2.png";

const page='01';
const max_page='05'; 

const button_link = "/contact"
---
<Layout title="Welcome to Astro">
    <div class="font-sans py-8 sm:pl-8 md:pl-12 lg:pl-16 xl:pl-20">
        <div class="">
                <div class="text-base sm:text-xl md:text-2xl lg:text-4xl xl:text-5xl font-light opacity-25">
                    <p>{enUs.pricing.pricing}</p>
                </div>        

                <div class="text-base sm:text-xl md:text-2xl lg:text-4xl xl:text-5xl text-lg font-bold">
                    <p>{enUs.pricing.adg}</p>
                </div>
        </div>
        <div class="mt-10">
            <a href={button_link}>
                <button class="bg-black text-white py-6 px-12 text-xs tracking-[.2em]">
                    {enUs.contact_us.contact_button}
                </button>
            </a>
        </div>
    </div>
</Layout>