---
const contact_img_1 = "/contact_us_test_1.png";
---

<link rel="stylesheet" href="/src/styles/global.css" />
<div class="flex justify-center">
    <div class="py-12
    w-10/12">

        <div>
            <p class="font-extralight font-sans text-stone-300 text-4xl mb-4">
                Contact Us
            </p>
        </div>

        <div class="flex">

            <div class="flex-none 
            w-full
            md:w-5/12">
                <form class="flex flex-col h-full text-sm mr-4">
                    <div>
                        <input class="w-full bg-zinc-100 py-2 px-4 mb-2" id="name" type="text" placeholder="Name">
                    </div>
                    <div>
                        <input class="w-full bg-zinc-100 py-2 px-4 mb-2" id="phone" type="text" placeholder="Phone Number*">
                    </div>
                    <div>
                        <input class="w-full bg-zinc-100 py-2 px-4 mb-2" id="email" type="text" placeholder="E-mail*">
                    </div>
                    <div>
                        <input class="w-full bg-zinc-100 py-2 px-4 mb-2" id="interest" type="text" placeholder="Interested in">
                    </div>
                    <div class="flex flex-1">
                        <textarea class="w-full bg-zinc-100 py-2 px-4" id="message" placeholder="Message*"></textarea>
                    </div>
                </form>
            </div>


            <div class="flex-initial
            hidden
            md:flex">
                <img src={contact_img_1}>
            </div>
        </div>

        <div class="mt-12">
            <button
                class="font-sans text-xs tracking-[.2em] bg-black text-white
            px-12
            py-6"
            >
                SEND EMAIL →
            </button>
        </div>
    </div>
</div>