<!-- src/components/NavBar.astro -->
---
---

<nav class="flex justify-between items-center p-4 bg-white text-black border-b border-black">
  <div class="flex items-center ml-48">
    <a href="/">
      <img src="/a&dglogo.jpg" alt="Logo" class="h-14 p-0.5"/>
    </a>
  </div>
  <div class="flex justify-end flex-grow mr-48 font-roboto">
    <a href="/main" class="text-black no-underline mx-4 font-sans tracking-wide text-xs hover:underline">MAIN</a>
    <a href="/gallery" class="text-black no-underline mx-4 font-sans tracking-wide text-xs hover:underline">GALLERY</a>
    <a href="/pricing" class="text-black no-underline mx-4 font-sans tracking-wide text-xs hover:underline">PRICING</a>
    <a href="/certifications" class="text-black no-underline mx-4 font-sans tracking-wide text-xs hover:underline">CERTIFICATIONS</a>
    <a href="/contacts" class="text-black no-underline mx-4 font-sans tracking-wide text-xs hover:underline">CONTACTS</a>
  </div>
</nav>
