<link rel="stylesheet" href="/src/styles/global.css">
<div class="w-full pb-12">
  <h2 class="text-6xl font-light text-stone-400 mb-8 font-sans">Testimonies</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 px-4 md:px-0">

    <div class="flex items-start mb-6">
      <div class="w-full md:w-auto md:flex-1">
        <p class="text-lg text-gray-600 font-sans">
          I took a lot of golf lessons, but I say this place is definitely the best. All professional teachers are passionate and informative classes.
          - Bonnie
        </p>
      </div>
    </div>

    <div class="flex items-start mb-6">
      <div class="w-full md:w-auto md:flex-1">
        <p class="text-lg text-gray-600 font-sans">
          A&DG are very professional golf coaches. They’re extremely friendly and excellent golf instructors. I highly recommend them if you’re looking to improve your golf skills!
          I have made more lesson appointments at A&DG and hopefully my swing and skills becomes even better! Thank you A&DG!
          - Anna
        </p>
      </div>
    </div>

    <div class="flex items-start mb-6">
      <div class="w-full md:w-auto md:flex-1">
        <p class="text-lg text-gray-600 font-sans">
          I’ve seen other instructors at A&DG golf and all of them are super nice and professional. Highly recommend!
          - Grace
        </p>
      </div>
    </div>

  </div>
</div>
